<h1> Questions </h1>

<ul>
  <% @questions.each do |question| %>
  <li>
    <%= link_to question.title, question %>
  </li>
  <% end %>
</ul>

<%=link_to "<button>New Question?</button>".html_safe, new_question_path, class:"btn btn-secondary"%>
